<nz-layout [style.height]="'100%'" [style.overflow]="'hidden'">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
      <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu">
        <li nz-menu-item>
          <i nz-icon nzType="user"></i>
          <span>User</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="laptop"></i>
          <span>Laptop</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="notification"></i>
          <span>Notification</span>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="file"></i>
          <span>File</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
        <!-- <button nz-button nzType="primary">Primary</button>
        <a [routerLink]="['/home']">Click Me</a> -->
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
