<nz-layout [style.height]="'100%'">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzTheme="dark" nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">        
        </li>
        <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
        </li>
        <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        Content
        <router-outlet></router-outlet>
        <button nz-button nzType="primary">Primary</button>
        <a [routerLink]="['/home']">Click Me</a>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
