  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 30px 16px 0;
    float: left;
  }

  .header-menu {
    line-height: 64px;
  }

  .sider-menu {
    height: auto;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
  }

  ::ng-deep li.mainMenuItem.ant-menu-item {
    cursor: auto;
    pointer-events: none !important;
    color: white;
    justify-content: center;
    vertical-align: middle;
    height: 42px;
    /* padding-left: 0px !important; */
    padding: 0px 24px !important;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 0px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  ::ng-deep .ant-layout-sider-light .ant-layout-sider-trigger
  {
    background: #262626;
  }

  .ant-layout-sider-light
  {
    background: #262626;
  }

  .ant-layout-content {
    padding: 12px;
  }

  /* .ant-breadcrumb {
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    color: rgba(255,255,255,.45);
  } */

  /* ::ng-deep .ant-breadcrumb-separator {
    margin: 0 8px;
    color: rgba(255,255,255,.45);
  } */

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
  }

  .logo {
    width: 100%;
    height: 36px;
    text-align: center;
  }

  .dflex {
    display: flex;
    height: auto;
    align-items: center;
    padding: 4px 15px 2px 15px;
  }

  /* .right-layout {
    margin-left: 200px;
  } */