
* {
    box-sizing: border-box;
}
  
::ng-deep .ant-space-item {
    /* padding-bottom: 24px; */
    height: 95%;
}

::ng-deep .ant-card-body {
    overflow: auto;
    height: 56%;
    padding: 10px;
}

#customRow {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

/* Create four equal columns that sits next to each other */
.column {
    flex: 30%;
    max-width: 34%;
    padding: 0 4px;
}

.column div {
    margin-top: 8px;
    vertical-align: middle;
}

.dflexMain {
    display: flex;
    width: 25%;
    flex-flow: column wrap;
}

.dflex1 {
    display: flex;
    width: 100%;
    height: 190px;
}

.dflex2 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 10px;
}

.customLabel {
    width: 100%;
    margin-top: 5px;
    height: 30%;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

::ng-deep .ant-pagination > li {
    background-color: #141414;
}

::ng-deep .ant-spin-nested-loading > div > .ant-spin {
    display: flex;
    height: 85%; 
}

::ng-deep .ant-spin-container {
    display: flex;
    height: 92%;
}

.ant-divider-horizontal {
    margin: 30px 0px 10px 0px;
}

::ng-deep .ant-empty-image {
    height: 90%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1100px) {
    .dflex1 {
        flex: 33.33%;
        /* max-width: 33.33%; */
        max-width: 100%;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1000px) {
    .dflexMain {
        flex: 33.33%;
        max-width: 33.33%;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1000px) {
    .column, .dflex1 {
        flex: 50%;
        /* max-width: 50%; */
        max-width: 100%;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .dflexMain {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .dflexMain {
      flex: 100%;
      max-width: 100%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column, .dflex1 {
      flex: 50%;
      /* max-width: 50%; */
      max-width: 100%;
    }
}
